image: node:12-alpine

stages:
  - test
  - build
  - deploy

cache:
  paths:
    - node_modules

test:
  stage: test
  script:
    - npm install --no-progress
    - CI=true npm test

build:
  stage: build
  script:
    - npm run build
  artifacts:
    expire_in: 1 hour
    paths:
      - build

pages:
  stage: deploy
  script:
    - rm -rf public
    - mv build public
  artifacts:
    paths:
      - public
